.canvas {
  border: 1px solid #ccc;
  box-shadow: 0px -0px 40px -0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px -0px 40px -0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -0px 40px -0px rgba(0,0,0,0.5);
}